In [2]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

In [3]:
df=pd.read_csv(r"https://s3.amazonaws.com/backup.deltax.com/dump/data.csv ")

In [4]:
df.head(5)

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71

In [5]:
#checking for null values
df.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
dtype: int64

In [6]:
#checking dimensions of thee df
df.shape

(4571, 9)

In [7]:
#checking datatypes
df.dtypes

date            object
campaign        object
adgroup         object
ad              object
impressions      int64
clicks           int64
cost           float64
conversions      int64
revenue        float64
dtype: object

In [8]:
df['CTR']=df['clicks']/df['impressions']
df.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121

In [9]:
df['CPC']=df['cost']/df['clicks']
df.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR,CPC
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000,0.013333
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000,NaN
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692,0.010000
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000,0.020000
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121,0.010238

In [10]:
df['CPA']=df['cost']/df['conversions']
df.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR,CPC,CPA
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000,0.013333,inf
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000,NaN,NaN
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692,0.010000,inf
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000,0.020000,inf
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121,0.010238,0.3225

In [11]:
df['ROI']=df['revenue']/df['cost']
df.head()

,date,campaign,adgroup,ad,impressions,clicks,cost,conversions,revenue,CTR,CPC,CPA,ROI
0,2020-08-01,campaign 1,adgroup 1,ad 1,24,6,0.08,0,0.00,0.250000,0.013333,inf,0.000000
1,2020-08-01,campaign 1,adgroup 2,ad 1,1,0,0.00,0,0.00,0.000000,NaN,NaN,NaN
2,2020-08-01,campaign 1,adgroup 3,ad 1,13,4,0.04,0,0.00,0.307692,0.010000,inf,0.000000
3,2020-08-01,campaign 1,adgroup 4,ad 1,5,4,0.08,0,0.00,0.800000,0.020000,inf,0.000000
4,2020-08-01,campaign 1,adgroup 1,ad 2,247,126,1.29,4,925.71,0.510121,0.010238,0.3225,717.604651

In [12]:
df.isnull().sum()

date             0
campaign         0
adgroup          0
ad               0
impressions      0
clicks           0
cost             0
conversions      0
revenue          0
CTR              0
CPC            444
CPA            444
ROI            444
dtype: int64

In [13]:
df['CPC'].mean()

0.06538095081448532

In [14]:
df['CPA'].mean()

inf

In [15]:
df['ROI'].mean()

169.08064401173957

In [16]:
#Droping Rows of 'CPA' column which contains missing values
df=df.dropna(subset=['CPA'],axis=0)
df.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
CTR            0
CPC            0
CPA            0
ROI            0
dtype: int64

In [17]:
df.replace(np.inf,np.nan,inplace=True)

In [18]:
df.isnull().sum()

date              0
campaign          0
adgroup           0
ad                0
impressions       0
clicks            0
cost              0
conversions       0
revenue           0
CTR               0
CPC               0
CPA            2769
ROI               0
dtype: int64

In [19]:
df.dropna(inplace=True)
df.isnull().sum()

date           0
campaign       0
adgroup        0
ad             0
impressions    0
clicks         0
cost           0
conversions    0
revenue        0
CTR            0
CPC            0
CPA            0
ROI            0
dtype: int64

In [20]:
df.shape

(1358, 13)

In [21]:
df.to_csv('modified_data.csv')

In [24]:
#calculating total revuene adgroup wise
df.groupby('adgroup')['revenue'].sum().sort_values(ascending=False).reset_index()

     adgroup    revenue
0  adgroup 3  526427.64
1  adgroup 1  515630.85
2  adgroup 4   14047.71
3  adgroup 2    3750.27

In [25]:
#calculating Average CTR
df.groupby('adgroup')['CTR'].mean().sort_values(ascending=False).reset_index()

     adgroup       CTR
0  adgroup 4  0.602567
1  adgroup 2  0.512188
2  adgroup 3  0.508159
3  adgroup 1  0.423376

In [31]:
#Top 5 impressions
df.groupby('ad')['impressions'].sum().sort_values(ascending=False).reset_index().head(5)

      ad  impressions
0   ad 2        88841
1  ad 32        30193
2   ad 6        30033
3   ad 3        29185
4   ad 8        26399

In [32]:
#Top 5 clicks
df.groupby('ad')['clicks'].sum().sort_values(ascending=False).reset_index().head(5)

      ad  clicks
0   ad 2   38281
1   ad 6   15398
2  ad 32   14491
3   ad 3   13427
4   ad 8   12538

In [33]:
#Average revenue over months
df.groupby('date')['revenue'].sum().reset_index()

           date  revenue
0    2020-08-01  2384.92
1    2020-08-02  4275.25
2    2020-08-03  3441.02
3    2020-08-04  4378.93
4    2020-08-05  2634.79
..          ...      ...
207  2021-02-24   763.39
208  2021-02-25   542.39
209  2021-02-26  1996.44
210  2021-02-27  1002.10
211  2021-02-28  3158.44

[212 rows x 2 columns]